*
!NoteKeeper/NoteKeeper.iOS/*.plist
!NoteKeeper/NoteKeeper.iOS/*.cs
!NoteKeeper/NoteKeeper.iOS/*.csproj
!NoteKeeper/NoteKeeper.Android/*.cs
!NoteKeeper/NoteKeeper.Android/*.csproj
!NoteKeeper/NoteKeeper/Views
!NoteKeeper/NoteKeeper/Models
!NoteKeeper/NoteKeeper/Services
!NoteKeeper/NoteKeeper/ViewModels
!NoteKeeper/NoteKeeper/*.cs
!NoteKeeper/NoteKeeper/*.xaml
!NoteKeeper/NoteKeeper/*.xaml.cs
!NoteKeeper/NoteKeeper/*.txt
!NoteKeeper/NoteKeeper/*.csproj
!.gitignore
